container_commands:
 cd:
  command: cd /var/www/html
 cartCP:
  command: sudo cp ./app/ModelAndRepository/Carts/DummyCart.php ./vendor/bumbummen99/shoppingcart/src/Cart.php
 DB_CONNECTION:
  command: echo DB_CONNECTION=$(/opt/elasticbeanstalk/bin/get-config environment -k DB_CONNECTION) >> .env.example
 DB_DATABASE:
  command: echo DB_DATABASE=$(/opt/elasticbeanstalk/bin/get-config environment -k DB_DATABASE) >> .env.example
 DB_HOST:
  command: echo DB_HOST=$(/opt/elasticbeanstalk/bin/get-config environment -k DB_HOST) >> .env.example
 DB_PASSWORD:
  command: echo DB_PASSWORD=$(/opt/elasticbeanstalk/bin/get-config environment -k DB_PASSWORD) >> .env.example
 DB_PORT:
  command: echo DB_PORT=$(/opt/elasticbeanstalk/bin/get-config environment -k DB_PORT) >> .env.example
 DB_USERNAME:
  command: echo DB_USERNAME=$(/opt/elasticbeanstalk/bin/get-config environment -k DB_USERNAME) >> .env.example
 STRIPE_PUBLIC_KEY:
  command: echo STRIPE_PUBLIC_KEY=$(/opt/elasticbeanstalk/bin/get-config environment -k STRIPE_PUBLIC_KEY) >> .env.example
 STRIPE_SECRET_KEY:
  command: echo STRIPE_SECRET_KEY=$(/opt/elasticbeanstalk/bin/get-config environment -k STRIPE_SECRET_KEY) >> .env.example
 cp:
  command: sudo cp .env.example .env
 
  


