container_commands:
 cd:
  command: cd /var/www/html
 cp:
  command: sudo cp .env.example .env
 cartCP:
  command: sudo cp ./app/ModelAndRepository/Carts/DummyCart.php ./vendor/bumbummen99/shoppingcart/src/Cart.php
 DB_CONNECTION:
  command: echo DB_CONNECTION:$(get-config environment -k DB_CONNECTION) >> .env
 DB_DATABASE:
  command: echo DB_DATABASE:$(get-config environment -k DB_DATABASE) >> .env
 DB_HOST:
  command: echo DB_HOST:$(get-config environment -k DB_HOST) >> .env
 DB_PASSWORD:
  command: echo DB_PASSWORD:$(get-config environment -k DB_PASSWORD) >> .env
 DB_PORT:
  command: echo DB_PORT:$(get-config environment -k DB_PORT) >> .env
 DB_USERNAME:
  command: echo DB_USERNAME:$(get-config environment -k DB_USERNAME) >> .env
 STRIPE_PUBLIC_KEY:
  command: echo STRIPE_PUBLIC_KEY:$(get-config environment -k STRIPE_PUBLIC_KEY) >> .env
 STRIPE_SECRET_KEY:
  command: echo STRIPE_SECRET_KEY:$(get-config environment -k STRIPE_SECRET_KEY) >> .env
 
  


